<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoU70o9OqAb6ea2_l_EjkSqe-Udr5bY8c</string>
	<key>GCM_SENDER_ID</key>
	<string>422248073001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PayChoice.Member360</string>
	<key>PROJECT_ID</key>
	<string>member360-a283a</string>
	<key>STORAGE_BUCKET</key>
	<string>member360-a283a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422248073001:ios:ee13b1a1a903b288d89938</string>
</dict>
</plist>